body{
    background-color: #ecc4a9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

h1{
    text-align: center;
    color: #000000;
    margin-top: 50px;
    border: #4d3112 4px solid;
    width: 35%;
    margin-left: 32.5%;
}

#principal{
    width: 80%;
    margin: 0 auto;
    background-color: #f5c6b0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}