table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: #4CAF50;
    color: white;
    text-align: center;
}
td{
    border: 1px solid #ddd;
    padding: 8px;
}
tr{
    background-color: #f2f2f2;
}